

/*$ewin: #00BD7E;
$text: #EEEEEE;
$red : #FF0000;

$link: $ewin;

$button-hover-border-color: $ewin;
$button-border-width:2px;

$link-hover: $red;

.button:focus{
    color: #393E46;
    outline:none;
    box-shadow: none;
    border: none;
}

.button:active{
    color: #393E46;
    outline:none;
    box-shadow: none;
    border: none;
}

.is-active{
    color:#EEEEEE
}

$breadcrumb-item-color : $ewin;

$breadcrumb-item-color-active : $text;

@import 'node_modules/bulma/bulma.sass';*/

//@import 'node_modules/bulma/css/bulma.css'


